:root{
    --red:hsl(7, 99%, 70%);
    --yellow:hsl(51, 100%, 49%);
    --desatcyan:hsl(167, 40%, 24%);
    --dblue: hsl(198, 62%, 26%);
    --modcyan:hsl(168, 34%, 41%);

    /* neutral */
    --desatblue:hsl(168, 34%, 41%);
    --vdgblue:hsl(213, 9%, 39%);
    --dgblue:hsl(210, 4%, 67%);
    --gblue:hsl(210, 4%, 67%);
    --white:hsl(0, 0%, 100%);
}
*{
    margin: 0;;
    padding: 0;
    font-family: 'barlow',sans-serif;
}
h1{
    color: var(--white);
}
.heading{
    font-family: 'fraunces',sans-serif;
}
.para{
    color: var(--vdgblue);
}
.graphic{
    color:var(--desatcyan)
}
.photography{
    color: var(--dblue);
}
.testitext{
    color: var(--vdgblue);
    font-size:14px;
}
@media screen and (max-width:375px) {
    main{
        /* padding:0 10px; */
        display: flex;
        flex-direction: column;
        text-align: center;
      
    }
    h1{
        margin-top: 50px;
    }
    .creatives{
        background-image: url(./images/mobile/image-header.jpg);
        background-size:cover ;
       padding-bottom: 278px;
    }
    #egg{
        width: 100%;
    }
    #glass{
        width: 100%;
    }
    .graphic{
        background-image: url(./images/mobile/image-graphic-design.jpg);
        background-size: cover;
        padding-top: 300px;
    }
    .photography{
        background-image: url(./images/mobile/image-photography.jpg);
        background-size: cover;
        padding-top: 300px;
    }
    .testimonials img{
        border-radius: 50%;
        width:50px
    }
    .text{
      padding-left: 10px;
      padding-right: 10px;
    }
}